@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@500&display=swap');

body {
    flex-direction: column; 
    font-family: 'Noto Sans Display', sans-serif;
    width: 80%;
    height: 100%;
    align-items: left;
}
body h1 {
    font-family: 'Noto Sans Display', sans-serif;
}

.header {
    display: inline;
    margin-right: 100px;
    font-size: 24px; /* Set the font size for headers */
     /* Make headers bold */
}
.my-button {
    color: white;
    font-weight: bold;
    font-size: 25px;
    width: 300px; /* Set the desired width */
    height: 250px; /* Set the desired height */
}
.container {
    height: fit-content;
}

/* Style the flex items */
.item {
    float: left;
    width: 100px; /* Set a fixed width for the items */
    height: 100px; /* Set a fixed height for the items */
    text-align: right;
    line-height: 100px;
}
